li {
    list-style: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
  }
label.param-name {
    margin-right: 10px;
    width: 320px;
    float: left;
}
input.machine-param {
    width: 60px;
}
